 /* Additional styles for code in table cells */
 .code-container {
    position: relative;
}

.code-container pre {
    margin: 0;
}

.code-container code {
    white-space: pre-wrap;
}

.copy-button {
    position: absolute;
    top: 5px;
    right: 5px;
}

/* Style for the diagram container */
#source-diagram {
    width: 100%;
    height: 400px;
    /* Adjust the height as needed */
}

/* General Styles */
body {
    background-color: #f4f4f4; /* Light gray background */
    color: #333333; /* Dark text for readability */
    font-family: Arial, sans-serif;
}

/* Header Styles */
h1 {
    color: #00188f; /* Power BI blue */
}

/* Responsive table */
#visuals-table {
    width: 100%;
   
}

#visuals-table th, #visuals-table td {
    white-space: normal; /* Allows the text to wrap */
    word-wrap: break-word; /* Breaks the word to the next line if it's too long */
}

/* Button Styles */
button,
.button, /* Class for buttons to apply the same styles */
.button-back { /* Back button specifically */
    background-color: #3498db; /* Power BI blue */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px; /* Added rounded corners for consistency */
}

button:hover,
.button:hover { /* Hover effect for buttons */
    background-color: #2980b9;
}

.copy-button {
    background-color: #3498db; /* Power BI blue */
    color: white;
    border: none;
    padding: 5px 10px; /* Smaller padding for a smaller button */
    font-size: 12px; /* Smaller font size for the button text */
    border-radius: 5px; /* Consistent rounded corners */
    cursor: pointer;
    margin-left: 5px; /* Spacing from the code block */
    vertical-align: middle; /* Align with the code block */
}

.copy-button:hover {
    background-color: #2980b9; /* Darker blue on hover */
}

/* Table Styles */
table,
.lineage-table { /* Unifying table styles */
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td,
.lineage-table th,
.lineage-table td { /* Unifying cell styles */
    padding: 12px 15px; /* Standardized padding */
    border: 1px solid #ddd; /* Light border for cells */
    text-align: left;
}

th,
.lineage-table th {
    background-color: #3498db; /* Consistent header color */
    color: white;
    font-size: 16px; /* Standardized font size for headers */
}

/* Container Styles */
.container {
    max-width: 1600px; /* Professional width */
    margin: 50px auto; /* Centered with more space */
    background: #fff; /* Separate from the background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    padding: 20px;
    border-radius: 8px; /* Rounded corners for the container */
}