<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Power BI Visuals Explorer{% endblock %}</title>
    <!-- Include CSS files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/se.css') }}">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    {% block head %}{% endblock %}
</head>
<body>
    <!-- Navigation Bar -->
    <div class="navbar">
        <a href="/" class="active">Home</a>
        <a href="/table-view">Visual Fields Table</a>
        <a href="/lineage-view">Data Lineage Diagram</a>
        <a href="/dax-expressions">DAX Explorer</a>
        <a href="/source-explorer">Source Explorer</a>
        <a href="/unused-measures">Unused Measures</a>
    </div>

    <!-- Main Content -->
    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <!-- Footer -->
    <div class="footer">
        <p>&copy; 2024 Power BI Visuals Explorer</p>
    </div>

    <!-- Include JS files -->
    {% block scripts %}{% endblock %}
</body>
</html>
