<!-- templates/table_view.html -->
{% extends "base.html" %}

{% block title %}Visual Fields Table{% endblock %}

{% block content %}
    <h1>Power BI Visuals Table</h1>

    <!-- Search Box -->
    <div class="search-container">
        <input type="search" id="searchBox" placeholder="Search...">
    </div>

    <!-- Table Container -->
    <div class="visuals-table-container">
        <table id="visualsTable" class="visuals-table">
            <thead>
                <tr>
                    <th>Page</th>
                    <th>Visual Type</th>
                    <th>Visual Name</th>
                    <th>Fields Used</th>
                    <th>Filter Fields</th>
                    <th>VC Objects</th>
                    <th>Visual Objects</th>
                </tr>
            </thead>
            <tbody>
                {% for row in table_data %}
                {% if row[3] %}
                <tr>
                    {% for cell in row %}
                    <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/table_view_search.js') }}"></script>
{% endblock %}
